<div class="container">
  @if (product(); as product) {
    <div class="product-details-card">
      <div class="product-image">
        <img [src]="product.image" [alt]="product.name" onerror="this.src='https://via.placeholder.com/250x250.png?text=Image+not+found'">
      </div>
      <div class="product-info">
        <h2>{{ product.name }}</h2>
        <p class="price">{{ product.price | currency:'Bs ' }}</p>
        <p class="description">{{ product.description }}</p>
        <button (click)="addToCart(product)">Añadir al carrito</button>
      </div>
    </div>
  } @else {
    <p>¡Producto no encontrado!</p>
  }
</div>
